@model DDAC_Assignment.Models.Schedule
@{
    ViewBag.Title = "Delete Schedule";
}

<div class="panel panel-primary">
    <label class="panel-heading"><h3>Delete Schedule</h3></label>

    <div class="panel-body">
        @using (Html.BeginForm("DeleteSchedule", "Home", FormMethod.Post, null))
        {

            <fieldset>
                <div class="editor-label">
                    <label for="scheduleId">Schedule Id</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.scheduleId,
               new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
                <div class="editor-label">
                    <label for="selectedCargoId">Cargo Id</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.selectedCargoId,
               new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
                <div class="editor-label">
                    <label for="selectedYardName">Yard Name</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.selectedYardName,
               new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
                <div class="editor-label">
                    <label for="selectedYardName">Vessel Name</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.selectedVesselName,
               new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
                <div class="editor-label">
                    <label for="departureDate">Departure Date</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.departureDate,
               new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
                <div class="editor-label">
                    <label for="arrivalDate">Arrival Date</label>
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.arrivalDate,
               new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                </div>
            </fieldset>
            <br />
            <p>Are you sure you want to delete this schedule?</p>

            <input type="submit" value="Yes" class="btn btn-primary">

        }
        <a class="btn btn-danger" href="/Home/ViewSchedule">No</a>

    </div>

</div>