@model List<DDAC_Assignment.Models.Vessel>

@{
    ViewBag.Title = "View Vessel";
}

<style>
    table, tr, td {
        border: solid 1px;
    }
</style>



<p>
    @using (Html.BeginForm("ViewVessel", "Home", FormMethod.Post, null))
    {
        <div class="panel panel-info">
            <label class="panel-heading"><h3>View Vessel</h3></label>

            <div>@Html.ActionLink("Create New Vessel", "CreateVessel", "Home")</div>
            <div class="panel-body">

                <fieldset>
                    <table style="width:100%;" class="table table-hover">
                        <tr>
                            <td style="background-color:black; text-align:center; color:white">Vessel Name</td>
                            <td style="background-color:black; text-align:center; color:white">Containers</td>
                            <td style="background-color:black; text-align:center; color:white">Destination Yard</td>
                            <td style="background-color:black; text-align:center; color:white">Arrival Yard</td>
                        </tr>
                        @foreach (var item in Model)
                {
                            <tr>
                                <td>@item.vesselName</td>
                                <td>@item.containers</td>
                                <td>@item.destinationYard</td>
                                <td>@item.arrivalYard</td>
                                <td>@Html.ActionLink("Edit", "EditVessel", new { vesselName = @item.vesselName })</td>
                                <td>@Html.ActionLink("Delete", "DeleteVessel", new { vesselName = @item.vesselName })</td>
                            </tr>
                        }
                    </table>
                </fieldset>
            </div>

        </div>

    }
</p>